tld: "example.com"
aws_tld: "s3-website.eu-central-1.amazonaws.com"
cloudflare_email: "joe@example.com"
cloudflare_token: 1234
aws_access_key: 1234
aws_secret_key: 1234
aws_default_region: "eu-central-1"